# EDA in the first Raw Stage 

Do some Exploratory Data Anallysis in the first raw stage

## Initialize settigns and values

In [1]:
import pandas as pd
import os
import duckdb

In [7]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/workspaces/spotify_insights/airflow/credentials/google_credentials.json'
source_path = "gs://spotify-insights-pipeline-data/raw-tables"

In [44]:
raw_spotify_streams = pd.read_parquet(source_path, engine="pyarrow")
display(raw_spotify_streams)

,ts,platform,ms_played,conn_country,ip_addr,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,episode_name,...,spotify_episode_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode,user_name,snapshot_date
0,2018-04-12T18:05:53Z,"iOS 11.2.6 (iPad4,1)",283463,PE,190.236.255.228,True Love Waits,Radiohead,A Moon Shaped Pool,spotify:track:01ZpFhrMMqKPVCwyqXneVp,None,...,None,trackdone,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
1,2018-04-13T17:13:56Z,"iOS 11.2.6 (iPad4,1)",131328,PE,190.236.255.228,Polyethylene (Parts 1 & 2),Radiohead,Paranoid Android,spotify:track:6hJnRhIzvq9ooHw6yxLn3W,None,...,None,trackdone,endplay,True,False,False,nan,False,joseph-higaki,2024-12-10
2,2018-04-13T17:17:01Z,"iOS 11.2.6 (iPad4,1)",186066,PE,190.236.255.228,Gone Daddy Gone,Violent Femmes,Permanent Record: The Very Best Of The Violent...,spotify:track:7ejUsOpJvCMhdoReeGwq60,None,...,None,clickrow,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
3,2018-04-13T17:17:32Z,"iOS 11.2.6 (iPad4,1)",29239,PE,190.236.255.228,Something For Your M.I.N.D.,Superorganism,Superorganism,spotify:track:4rCKRVJZKVysScn2piDuOT,None,...,None,trackdone,fwdbtn,True,False,False,nan,False,joseph-higaki,2024-12-10
4,2018-04-13T17:20:45Z,"iOS 11.2.6 (iPad4,1)",193000,PE,190.236.255.228,Brain Stew,Green Day,Insomniac,spotify:track:1nLnpLXvl68RZCSjfkyiaa,None,...,None,fwdbtn,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95156,2018-04-12T17:46:09Z,"iOS 11.2.6 (iPad4,1)",650,PE,190.236.255.228,Decks Dark,Radiohead,A Moon Shaped Pool,spotify:track:5rIhBK9aaVMck0W2YtOwci,None,...,None,fwdbtn,fwdbtn,True,False,False,nan,False,joseph-higaki,2024-12-10
95157,2018-04-12T17:51:00Z,"iOS 11.2.6 (iPad4,1)",290706,PE,190.236.255.228,Fake Plastic Trees,Radiohead,The Bends,spotify:track:045sp2JToyTaaKyXkGejPy,None,...,None,fwdbtn,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
95158,2018-04-12T17:54:38Z,"iOS 11.2.6 (iPad4,1)",217797,PE,190.236.255.228,The Daily Mail,Radiohead,The Daily Mail / Staircase,spotify:track:4dHDQFENPSHTR5OxyI1JB0,None,...,None,trackdone,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
95159,2018-04-12T17:57:58Z,"iOS 11.2.6 (iPad4,1)",199333,PE,190.236.255.228,Spectre,Radiohead,Spectre,spotify:track:6FhqMiFC6PPYXihpGTFNMC,None,...,None,trackdone,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
95160,2018-04-12T18:01:09Z,"iOS 11.2.6 (iPad4,1)",191000,PE,190.236.255.228,You And Whose Army?,Radiohead,Amnesiac,spotify:track:6UFvGJalSngqprmUJd59Eo,None,...,None,trackdone,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10

## See columns and get some insights out of them

In [10]:

columns = raw_spotify_streams.columns.tolist()
print(columns)

['ts', 'platform', 'ms_played', 'conn_country', 'ip_addr', 'master_metadata_track_name', 'master_metadata_album_artist_name', 'master_metadata_album_album_name', 'spotify_track_uri', 'episode_name', 'episode_show_name', 'spotify_episode_uri', 'reason_start', 'reason_end', 'shuffle', 'skipped', 'offline', 'offline_timestamp', 'incognito_mode', 'user_name', 'snapshot_date']

In [ ]:
['ts', 'platform', 'ms_played', 'conn_country', 'ip_addr', 'master_metadata_track_name', 'master_metadata_album_artist_name', 'master_metadata_album_album_name', 'spotify_track_uri', 'episode_name', 'episode_show_name', 'spotify_episode_uri', 'reason_start', 'reason_end', 'shuffle', 'skipped', 'offline', 'offline_timestamp', 'incognito_mode', 'user_name', 'snapshot_date']

In [41]:
raw_spotify_streams.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ms_played,95161.0,191944.464014,218084.474329,0.0,57437.0,206380.0,264573.0,13409663.0
offline_timestamp,95161.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## Set possible data types

In [88]:
raw_spotify_streams.dtypes

ts                                   datetime64[ns, UTC]
platform                                          object
ms_played                                          Int64
conn_country                                      object
ip_addr                                           object
master_metadata_track_name                        object
master_metadata_album_artist_name                 object
master_metadata_album_album_name                  object
spotify_track_uri                                 object
episode_name                                      object
episode_show_name                                 object
spotify_episode_uri                               object
reason_start                                      object
reason_end                                        object
shuffle                                             bool
skipped                                             bool
offline                                             bool
offline_timestamp                                Float64
incognito_mode                                      bool
user_name                                         object
snapshot_date                                   category
dtype: object

In [31]:
column = 'offline_timestamp'

raw_spotify_streams[column] = raw_spotify_streams[column].astype('Float64')

In [86]:


# Define the desired data types
dtype_mapping = {
    'ts': 'datetime64[ns]',  # timestamp
    'platform': 'str',    # str
    'ms_played': 'Int64',    # integer with NaN support (nullable integer type)
    'conn_country': 'str',  # str
    'ip_addr': 'str',  # str
    'master_metadata_track_name': 'str',  # str
    'master_metadata_album_artist_name': 'str',  # str
    'master_metadata_album_album_name': 'str',  # str
    'spotify_track_uri': 'str',  # str
    'episode_name': 'str',  # str
    'episode_show_name': 'str',  # str
    'spotify_episode_uri': 'str',  # str
    'reason_start': 'str',  # str
    'reason_end': 'str',  # str
    'shuffle': 'bool',  # boolean
    'skipped': 'bool',  # boolean
    'offline': 'bool',  # boolean
    'offline_timestamp': 'Float64',  # nullable integer
    'incognito_mode': 'bool',  # boolean
    'user_name': 'str',  # str
    'snapshot_date': 'datetime64[ns]'  # date
}

In [106]:
cols = pd.DataFrame.from_dict(dtype_mapping, orient='columns') #, dtype=str, columns=['column_name', 'type'])

ValueError: If using all scalar values, you must pass an index

In [90]:
cols

Empty DataFrame
Columns: [column_name, type]
Index: []

In [84]:
pd.DataFrame(cols).groupby('type').size()

Series([], dtype: int64)

In [ ]:


# Apply conversions
for column, dtype in dtype_mapping.items():
    if dtype == 'datetime64[ns]':
        raw_spotify_streams[column] = pd.to_datetime(raw_spotify_streams[column])
    else:
        raw_spotify_streams[column] = raw_spotify_streams[column].astype(dtype)

In [64]:
raw_spotify_streams.select_dtypes(include='bool').columns

Index(['shuffle', 'skipped', 'offline', 'incognito_mode'], dtype='object')

In [75]:

# Display the modified DataFrame
raw_spotify_streams.describe(include='timestamp')

TypeError: data type 'timestamp' not understood

In [69]:
display(raw_spotify_streams.describe(include='object').transpose())

                                   count unique            top   freq
platform                           95161     56        android  21328
conn_country                       95161     12             PE  43682
ip_addr                            95161   3797  90.71.246.110  10535
master_metadata_track_name         95161  15326           None    660
master_metadata_album_artist_name  95161   4840      Pearl Jam   2777
master_metadata_album_album_name   95161   8964        Sublime   1130
spotify_track_uri                  95161  18400           None    660
episode_name                       95161    307           None  94501
episode_show_name                  95161     54           None  94501
spotify_episode_uri                95161    307           None  94501
reason_start                       95161     13      trackdone  60287
reason_end                         95161     15      trackdone  60556
user_name                          95161      1  joseph-higaki  95161

In [51]:
display(raw_spotify_streams.describe(include='numpy.number').transpose())

TypeError: data type 'numpy.number' not understood

In [ ]:
display(raw_spotify_streams.describe(include='object').transpose())

In [ ]:
cat_cols = [    
    "platform",
    "conn_country",
    "master_metadata_track_name",
    "master_metadata_album_artist_name",
    "master_metadata_album_album_name",
    "reason_start",
    "reason_end"]

for col in cat_cols:
    categories = df.groupby(col).size()
    print(categories)

NameError: name 'df' is not defined

In [9]:
see_cat_cols = [    
    "conn_country",
    "reason_start",
    "reason_end"]

for col in see_cat_cols:
    categories = df.groupby(col).size()
    df_category = pd.DataFrame(categories)
    display(df_category)

                  0
conn_country
AD             1669
AT              102
CA               21
CL               96
ES            42544
FR               70
NL              713
PE            43682
PT               25
RU                2
US             5331
ZZ              906

                       0
reason_start
                     256
appload             3280
backbtn             1936
clickrow           12900
clickside              1
fwdbtn             14567
none                   1
playbtn              839
remote               607
switched-to-audio      4
trackdone          60287
trackerror            82
unknown              401

                                  0
reason_end
                                209
appload                         134
backbtn                        1909
clickrow                         39
clickside                         1
endplay                       11453
fwdbtn                        14549
logout                         2780
remote                          291
switched-to-video                 1
trackdone                     60556
trackerror                        3
unexpected-exit                 217
unexpected-exit-while-paused   1830
unknown                        1189

In [13]:
con = duckdb.connect()

# Register the DataFrame as a DuckDB table
con.register('raw_spotify_data', read_from_gcs_folder)

In [16]:
query = """
  with with_rn as (
    select 
    row_number() over (window_by_ts) as rn,
    count() over (window_by_ts) as count_by_ts,
    *
    from raw_spotify_data
    window window_by_ts as (PARTITION BY ts)
  )
  select * 
  from with_rn 
  where rn > 1
  order by ts
"""
result_dedup = con.execute(query).fetchdf()
display(result_dedup)

,rn,ts,platform,ms_played,conn_country,ip_addr,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,...,spotify_episode_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode,user_name,snapshot_date
0,2,2014-12-23T21:06:12Z,"iOS 7.1 (iPhone6,1)",0,US,66.165.162.68,I Won't Let You Go,James Morrison,The Awakening,spotify:track:4gIKec1woB9bIWIG8K7SZn,...,None,fwdbtn,fwdbtn,False,True,False,nan,False,joseph-higaki,2024-12-10
1,2,2014-12-24T06:53:19Z,"Android OS 4.4.4 API 19 (motorola, XT1097)",1532,PE,132.157.64.230,Is This Love,Bob Marley & The Wailers,Kaya - Deluxe Edition,spotify:track:58qEQujDJy5ma0cWRnB6dh,...,None,fwdbtn,fwdbtn,True,True,False,nan,False,joseph-higaki,2024-12-10
2,2,2014-12-24T13:41:17Z,"iOS 7.1 (iPhone6,1)",258826,PE,190.113.208.9,Love Song,Sara Bareilles,Little Voice,spotify:track:4E6cwWJWZw2zWf7VFbH7wf,...,None,trackdone,trackdone,False,False,False,nan,False,joseph-higaki,2024-12-10
3,2,2014-12-26T14:41:08Z,"iOS 7.1 (iPhone6,1)",377093,PE,181.64.209.159,Tiny Dancer,Elton John,Madman Across The Water,spotify:track:4BGJSbB5rAcg4pNzD4gfxU,...,None,trackdone,trackdone,True,False,False,nan,False,joseph-higaki,2024-12-10
4,2,2014-12-26T14:51:52Z,"iOS 7.1 (iPhone6,1)",2647,PE,190.113.209.6,Tiny Dancer,Elton John,Madman Across The Water,spotify:track:4BGJSbB5rAcg4pNzD4gfxU,...,None,trackdone,,True,True,False,nan,False,joseph-higaki,2024-12-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7856,2,2024-10-16T14:31:42Z,android,591,ES,37.14.146.208,Entrega,Niche,Entrega,spotify:track:1QnAJA3geYaJBp7cYbRxlo,...,None,backbtn,backbtn,False,True,False,1729089101,False,joseph-higaki,2024-12-10
7857,2,2024-10-16T14:31:46Z,android,693,ES,37.14.146.208,Por Retenerte,Los Titanes,Sobredosis de Amor y Salsa,spotify:track:6ADkHioGKvBpqDkXVhMZKr,...,None,backbtn,backbtn,False,True,False,1729089105,False,joseph-higaki,2024-12-10
7858,2,2024-10-21T08:11:58Z,android,195,ES,79.116.121.183,"Hotel California - Live On MTV, 1994",Eagles,Hell Freezes Over,spotify:track:2GpBrAoCwt48fxjgjlzMd4,...,None,fwdbtn,fwdbtn,False,True,False,1729498318,False,joseph-higaki,2024-12-10
7859,2,2024-11-22T10:32:07Z,android,144106,ES,79.116.120.178,Party,Yellowman,Party,spotify:track:6sRiZFPqlSDcrOTmBItA4T,...,None,clickrow,fwdbtn,True,True,False,1732271383,False,joseph-higaki,2024-12-10
7860,2,2024-11-22T10:32:08Z,android,201,ES,79.116.120.178,Party,Yellowman,Party,spotify:track:6sRiZFPqlSDcrOTmBItA4T,...,None,fwdbtn,fwdbtn,True,True,False,1732271528,False,joseph-higaki,2024-12-10